name: Deploy React Vite to GitHub Pages

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.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 }}
          github_token: ${{ secrets.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 }}
          publish_dir: ./dist
